:host {
    // display: block;
    width: 100%;
  }
  
  .container {
    background-color: #fff9c4;
    margin: 1.5em auto;
  }
  
  .books-container {
    padding: 1rem;
  }
  
  .books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    justify-content: center;
  }