<mat-card class="newContainer" appearance="outlined">
    <mat-card-content class="newContent">
        <div class="newBooks">
            <mat-card appearance="outlined">
                <mat-card-content>1 card</mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-content>2 card</mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-content>3 card</mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-content>4 card</mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
</mat-card>