<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="menuHeader">مدیریت کتابخانه نوین </mat-toolbar>
    <mat-nav-list>

      <a mat-list-item routerLink="dashboard">
        <mat-icon>dashboard</mat-icon>
        داشبورد
      </a>

       <a mat-list-item [matMenuTriggerFor]="booksMenu">
        <mat-icon>menu_book</mat-icon>
        کتاب‌ها
        <mat-menu #booksMenu="matMenu">
          <button mat-menu-item routerLink="admin-books" routerLinkActive="active-link">
            <mat-icon>list</mat-icon>
            همه کتاب‌ها
          </button>
          <button mat-menu-item routerLink="add-book" routerLinkActive="active-link">
            <mat-icon>add</mat-icon>
            افزودن کتاب
          </button>
          <button mat-menu-item routerLink="categories" routerLinkActive="active-link">
            <mat-icon>category</mat-icon>
            دسته‌بندی
          </button>
        </mat-menu>
      </a>
      <a mat-list-item [matMenuTriggerFor]="membersMenu">
        <mat-icon>people</mat-icon>
        اعضا
        <mat-menu #membersMenu="matMenu">
          <button mat-menu-item routerLink="members/list" routerLinkActive="active-link">
            <mat-icon>list</mat-icon>
            لیست اعضا
          </button>
          <button mat-menu-item routerLink="members/add" routerLinkActive="active-link">
            <mat-icon>person_add</mat-icon>
            افزودن عضو جدید
          </button>
        </mat-menu>
      </a>

      <a mat-list-item routerLink="/loans" (click)="drawer.close()">
        <mat-icon>bookmark</mat-icon>
        امانات
      </a>

      <a mat-list-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        خروج
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span>سامانه کتابداری نوین </span>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>