<mat-card [class.mobile]="(isHandset$ | async)" appearance="outlined">
    <mat-card-content>
        <form (ngSubmit)="check()">
            <div>
                <mat-form-field>
                    <mat-label>username</mat-label>
                    <input name="us" [(ngModel)]="login.username" matInput placeholder="نام کاربری ">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-hint>نام کاربری الزامیست</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>password</mat-label>
                    <input name="pw" type="password" [(ngModel)]="login.password" matInput placeholder="کلمه عبور ">
                    <mat-icon matSuffix>lock</mat-icon>
                    <mat-hint>کلمه عبور الزامیست</mat-hint>
                  </mat-form-field>
                </div>
                <mat-checkbox name="check"  [(ngModel)]="login.keepme">من را به خاطر بسپار</mat-checkbox>

                
                <div>
                    <button [disabled]="!isValid() || busy" mat-flat-button>
                        @if(busy){
                            <mat-spinner diameter="30"></mat-spinner>
                        }
                        @else{
                            ورود/عضویت
                        }
                    </button>
                </div>
                <div>
                    <a routerLink="home">بازگشت </a>
                </div>
        </form>



    </mat-card-content>
</mat-card>